/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

select{
  width: 290px;
}

input[type= text]{
  width: 290px;
}

input[type=submit]{
  width: 150px;
}

textarea{
  width: 290px;
  height: 100px
}

.panel{
  margin: 20px;
  padding-bottom: 15px;
}

aside a:link{
  text-decoration: none;
  color: black;
}

aside ul{
  list-style-type: none;
}

aside li:hover{
  background-color: #DDD;
}

.panel:hover{
  background-color: #DDD;
}

.alert{
  width: 500px;
  margin: 0;
  margin: 5px;
}

form{
  margin-top:30px
}

dl{
  text-align: left;
}
