<h1>Novo Orçamento</h1>
<p> Envie-nos qual ferramenta ou produto gostaria de alugar e
  por quanto tempo precisa e entraremos em contato o mais breve possível!</p>
<hr>

<%= render partial: 'form', locals: {button_label: 'Enviar'} %>
