<h1 class="text-center">Aluguel de Equipamentos do Zé</h1>

<p class="text-center">
  Mais de 50 anos fornecendo locação de equipamentos para construção com a
  melhor qualidade do mercado!
</p>
<p class="text-right">
  Clique em <%= link_to 'Solicitar orçamento', new_budget_path %> e confira!
</p>
